/* fint styles */

.imprima-regular {
  font-family: "Imprima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-weight: bold;
}

/* header & body styles */
header {
    text-align: center;
    width: 100vw;
}

body {
    background-color: #f5faf8;
    font-family: "Imprima";
}

/* main container styles */
.container {
    width: auto;
    height: 80vh;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #f5faf8;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;
}

.container div {
  background-color: #fbfcfb;

  border-radius: 4px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

#home-title {
    height: 70px;
    border: none;
}

#home-title h1 {
    text-align: left;
    font-size: 20px;
}
#home-title p {
    text-align: left;
    font-size: 12px;
}

.container-group1 {
    display: flex;
    width: 99%;
}

#item1, #item2, #item3, #item4 {
    border: 1px solid black;
}

#container-group1, #container-group2, #container-group3 {
    border: none;
}

.item1 {
    width: 35%;
}
.item2 {
    width: 65%;
}

.container-group2 {
    display: flex;
    width: 99%;
}

.item3 {
    width: 65%;
}
.item4 {
    width: 35%;
}

/* nav style */
.nav-bar {
position: relative;
height: 10px;
}

.nav-headings {
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 100vw;
    z-index: 1;
    background-color: #f5faf8;
    margin: 0px;
    padding-bottom: 20px;
}

.nav-headings ul {
    position: relative;
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.nav-headings a {
    font-family: "Imprima";
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    text-shadow: 2px 2px 5px black;
}

.nav-headings a:hover {
    color: black;
    text-decoration: underline;
}

.empty-space {
    list-style: none; 
    width: 60px;
}

/* new entry page styles */
#new-entry-btn {
    background-color: #003c28;
    color: whitesmoke;
    font-family: "Imprima";
    border-radius: 4px;
    width: 150px;
    height: 40px;
}

.new-entry-form form {
    text-align: left;
    font-size: 15px;
}

.new-entry-form label {
    display: inline-block;
    width: 150px;
}

#input-title{
    flex: 1;                    
    min-width: 0;             
    padding: 8px;
    height: 100px;
    width: 75vw;
    border: none;
    border-left: 3px solid black;
    font-family: "Imprima";
    color: rgba(0, 0, 0, 0.498);
    font-size: 40px;
}

div.left-side {
    float: left;
    height: 100vh;
    margin-right: 10px;
    width: 200px;
    background-color: #f5faf8;
    margin-top: 250px;
    color: rgba(0, 0, 0, 0.498);
    text-align: right;
    font-size: 10px;
}

div.left-side p {
    font-style: italic;
}

.new-entry-form textarea{
    resize: none;
    width: 100%;
    height: 20vh;
    font-family: "Imprima";
    color: rgba(0, 0, 0, 0.498);
    border: none;
    margin-top: 10px;
    background-color: #fbfcfb;
    border: 1px solid gray;
    border-radius: 4px;
}

#entry-title {
    border-left: 3px solid black;
    text-align: left;
}

#date-display {
    font-size: 12px;
}

#title-data {
    width: 100%;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.498);
    background-color: #fbfcfb;
    border: none;
}

#add-tag-btn {
    font-family: "Imprima";
    background-color: #003c28;
    color: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

#lower-btn {
    border: none;
}

#save-entry-btn {
    justify-content: center;
    border: none;
    background-color: #003c28;
    color: whitesmoke;
    font-family: "Imprima";
    border-radius: 4px;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

#discard-btn {
    justify-content: center;
    border: none;
    background-color: transparent;
    color: black;
    font-family: "Imprima";
    border-radius: 4px;
    width: 150px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

/* vault page styles */
.vault-container {
    width: 100%;
    background-color: #fbfcfb;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 4px;
}

/* Card Style for Journal entries */
.jnl-card {
    background-color: #fbfcfb;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;

    font-size: 0.8rem;
    line-height: 0.5;
}

.jnl-card .jnl-date {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.0rem;
    color: #888;
    background-color: #fbfcfb;
}

.jnl-card .jnl-heading {
    font-weight: bold;
    font-size: 1.1rem;
    color: #0a3d00;
    margin-bottom: 8px;
}

.jnl-card .jnl-text {
    color: #888;
    font-size: 0.8rem;
}

.jnl-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#jnl-text {
    padding: 12px;
    font-size: 0.8rem;
    border: 2px solid #6a0572;
    border-radius: 10px;
    resize: none;
}

.jnl-entries {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-btn,
.delete-btn {
    background: transparent;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    color: #6a0572;
    transition: color 0.3s;
}

.edit-btn:hover,
.delete-btn:hover {
    color: #ff5c8a;
}